@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=MedievalSharp&display=swap');

:root {
  --primary-color: #723922;
  --secondary-color: #E5E4DC; 
  --tertiary-color: #fff;
  --quarternary-color: #D21404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'MedievalSharp', cursive;
  color:var(--primary-color);
  background-color:var(--secondary-color); 
  padding: 10px;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 18px;
  margin: 10px;
  padding: 20px;
  border: 10px;
}

code {
  font-family: 'MedievalSharp', cursive;
}

header {
  color:var(--secondary-color); 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:var(--primary-color);
  margin-bottom: 10px;
}

header a {
  color:var(--secondary-color); 
}

header a:hover {
  background-color:var(--quarternary-color);
  padding: 15px;
  border-radius: 8px;
}

nav {
  display: flex;
  float: right;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
  padding: 0 10px;
  margin: 5px;
  position: --webkit-sticky;
  position: sticky;
  z-index: 9999;
  border: 10px;
  font-size: 22px;
}

nav li {
  display: inline;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  position: --webkit-sticky;
  position: sticky;
  z-index: 9999;
  border: 10px;
  cursor: pointer;
}

button {
  background-color:var(--quarternary-color);
  color:var(--tertiary-color);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  border-radius: 8px;
  margin: 5px;
  border: dashed;
}

.logoTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
}

.logoTitle img {
  width: 100px;
}

.logoTitle h1 {
  font-size: 1.5rem;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 padding-top: 8px;
 margin-bottom: 10px;
}

.marketPlace {
  width: 46%;
  min-width: 300px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marketPlace h2 {
  padding-bottom: 8px;
}

.stockItems {
  width: 46%;
  min-width: 300px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stockItems ul {
  padding-left: 20px;
}

.stockItems h2 {
  padding-bottom: 8px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpForm div form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.signUpForm input {
  padding: 20px 40px;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  margin: 2px;
}

#peasantsToil img {
float: left;
padding: 20px;
border-radius: 8px;
}

#peasantsToil p {
  margin: 20px;
  padding: 20px;
  border: 20px;
  width: 100%;
}

#bowArrow img {
  float: right;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20px;
  padding: 20px;
  border: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

footer {
  display: flex;
  justify-items: center;
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  margin-top: 75px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}

