@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=MedievalSharp&display=swap');

body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  color: #723922;  
  background-color: #E5E4DC; 
  padding: 10px;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 18px;
}

code {
  font-family: 'MedievalSharp', cursive;

}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  position: --webkit-sticky;
  position: sticky;
  z-index: 9999;
  border: 10px;
}

nav a:hover {
  color: #D21404;
}

nav li {
  display: inline;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  position: --webkit-sticky;
  position: sticky;
  z-index: 9999;
  border: 10px;
 }
 
 /* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
 }

 .column {
  flex: 50%;
  padding: 0 4px;
 } */

 footer {
  display: flex;
  justify-items: center;
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 14px;
 }